<head>
    <title>Osumosan</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="./font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
</head>
<div class="top-wrapper">
  <div class="container">
    <div class="page-header">
    <h2>以下の内容でよろしいでしょうか？</h2><br>
    
      <%= form_with(model: @house, url: houses_path, local: true) do |form| %>
        <table class="table">
          <tr>
            <th>物件名</th>
            <td>
              <%= form.hidden_field :title %>
              <%= @house.title %>
            </td>
          </tr>
          
          <tr>
            <th>所在地</th>
            <td>
              <%= form.hidden_field :location %>
              <%= @house.location %>
            </td>
          </tr>
          
           <tr>
            <th>最寄り駅</th>
            <td>
              <%= form.hidden_field :access %>
              <%= @house.access %>駅
            </td>
          </tr>
          
          <tr>
            <th>家賃</th>
            <td>
              <%= form.hidden_field :rent %>
              <%= @house.rent %>円
            </td>
          </tr>
          
          <tr>
            <th>敷金</th>
            <td>
              <%= form.hidden_field :deposit %>
              <%= @house.deposit %>円
            </td>
          </tr>
          
          <tr>
            <th>礼金</th>
            <td>
              <%= form.hidden_field :gratuityfee %>
              <%= @house.gratuityfee %>円
            </td>
          </tr>
          
          <tr>
            <th>専有面積</th>
            <td>
              <%= form.hidden_field :area %>
              <%= @house.area %>ｍ²
            </td>
          </tr>
          
          <tr>
            <th>間取り</th>
            <td>
              <%= form.hidden_field :layout %>
              <%= @house.layout %>
            </td>
          </tr>
          
          <tr>
            <th>間取り</th>
            <td>
              <%= form.hidden_field :layout %>
              <%= @house.layout %>
            </td>
          </tr>
          
          <tr>
            <th>主要採光面</th>
            <td>
              <%= form.hidden_field :lightning %>
              <%= @house.lightning %>
            </td>
          </tr>
          
          <tr>
            <th>設備</th>
            <td>
              <%= form.hidden_field :service %>
              <%= @house.service %>
            </td>
          </tr>
          
          <tr>
            <th>ハッシュタグ</th>
            <td>
              <%= form.hidden_field :hashtag%>
              <%= @house.hashtag %>
            </td>
          </tr>
          
          <tr>
            <th>写真</th>
            <td>
              <%= image_tag(@house.image.url, :size => "216x162") %>
              <%= form.hidden_field :image_cache %>
            </td>
          </tr>
          
        </table>

      <%= form.submit  "投稿する", class: 'btn btn-primary' %>
    <% end %>
    
    <%= form_with(model: @house, url: new_house_path, local: true, method: 'get') do |form| %>
      <h1><%= form.hidden_field :title %></h1>
      <h2><%= form.hidden_field :location %></h2>
      <h2><%= form.hidden_field :access %></h2>
      <h2><%= form.hidden_field :rent %></h2>
      <h2><%= form.hidden_field :deposit %></h2>
      <h2><%= form.hidden_field :gratuityfee %></h2>
      <h2><%= form.hidden_field :area %></h2>
      <h2><%= form.hidden_field :age %></h2>
      <h2><%= form.hidden_field :layout %></h2>
      <h2><%= form.hidden_field :lightning %></h2>
      <h2><%= form.hidden_field :service %></h2>
      <h2><%= form.hidden_field :hashtag %></h2>
      <%= form.submit "もどる", name: 'back', class: 'btn btn-secondary'%>
    <% end %>
    </div>
  </div>
</div>