<head>
    <title>Osumosan</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="./font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <script type="text/javascript" src="jquery.js"></script>
    <script type="text/javascript" src="jquery.ah-placeholder.js"></script>
</head>

<div class="top-wrapper">
  <div class="container">
    <%= form_with(model: @house, local: true ,url: choose_new_or_edit) do |form| %>
      <% if @house.errors.any? %>
        <div id="error_explanation">
          <h2><%= @house.errors.count %>件のエラーがあります。</h2>
          <ul>
            <% @house.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <%= form.label :"物件名" %>：
      <%= form.text_field :title, :placeholder => "(例)GA technologies"  %>
      <br />
      <%= image_tag(@house.image.url) if @house.image.url %>
      <%= form.file_field :image %>
      <br />
      <%= form.label :"所在地" %>：
      <%= form.text_field :location, :placeholder => "東京都" %>
      <br />
      <%= form.label :"最寄り駅" %>：
      <%= form.text_field :access, :placeholder => "(例)恵比寿" %>
      <br />
      <%= form.label :"家賃" %>：
      <%= form.text_field :rent, :placeholder => "(例)100000" %>円
      <br />
      <%= form.label :"敷金" %>：
      <%= form.text_field :deposit, :placeholder => "(例)10000" %>円
      <br />
      <%= form.label :"礼金" %>：
      <%= form.text_field :gratuityfee, :placeholder => "(例)100000" %>円
      <br />
      <%= form.label :"専有面積" %>：
      <%= form.text_field :area, :placeholder => "(例)50" %>ｍ²
      <br />
      <%= form.label :"築年数" %>:
      <%= form.text_field :age, :placeholder => "(例)5" %>年
      <br />
      <%= form.label :"間取り" %>：
      <%= form.text_field :layout, :placeholder => "(例)1LDK"%>
      <br />
      <%= form.label :"主要採光面" %>：
      <%= form.text_field :lightning, :placeholder => "(例)南向き" %>
      <br />
      <%= form.label :"設備" %><br />
      <%= form.text_area :service, :placeholder => "(例)バス・トイレ別" %>
      <br />
      <%= form.label :"ハッシュタグ" %><br />
      <%= form.text_area :hashtag, :placeholder => "(例)#おしゃれ" %>
      <br />
      <%= form.submit  "投稿する" , class: 'btn btn-success'%>
    <% end %>
    <%= link_to "もどる", houses_path , class: 'btn btn-warning'%>
  </div>
</div>

<script>
$(function() {
$('[placeholder]').ahPlaceholder({
    placeholderColor : 'silver',
    placeholderAttr : 'placeholder',
    likeApple : false
    });
});
</script>