<head>
    <title>Osumosan</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="./font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
 </head>
 
 <div class="show">
    <h4><%= @house.title %></h4>
    <%= image_tag(@house.image.url, :size => "216x162", :class => 'img') %>
    <ul>
			<li>
				<dl>
					<dt>所在地</dt>
					<dd><%= @house.location %></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>最寄り駅</dt>
					<dd><%= @house.location %>駅</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>築年数</dt>
					<dd><%= @house.age %>年</dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>主要採光面</dt>
					<dd><%= @house.lightning %></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>設備</dt>
					<dd><%= @house.service %></dd>
				</dl>
			</li>
			<li>
				<dl>
					<dt>ハッシュタグ</dt>
					<dd><%= @house.hashtag %></dd>
				</dl>
			</li>
		</ul>
		<div>
		  <ol>
		    <li>賃料</li>
				<li>敷金</li>
				<li>礼金</li>
				<li>間取り</li>
				<li>専有面積</li>
        <% if user_signed_in? %>
				    <li>お気に入り</li>
				    <li>問い合わせ</li>
        <% end %>
        </ol>
					<ul>
						<li><strong><%= @house.rent %>円</strong></li>
						<li><%= @house.deposit %>円</li>
						<li><%= @house.gratuityfee %>円</li>
						<li><%= @house.layout %></li>
						<li><%= @house.area %>ｍ²</li>
            <% if user_signed_in? %>
              <% if !Favorite.exists?(user_id:current_user.id,house_id: @house.id) %>
                <li><%= link_to "お気に入りする",house_add_path(@house),method: :post %></li>
              <% else %>
                <li><%= link_to "お気に入り済み",house_add_path(@house),method: :delete %></li>
              <% end %>
              <li><%= link_to "問い合わせ",contact_path %></li>
            <% end %>
    			</ul>
    </div>
      <br>
    	<%= link_to "もどる", houses_path %>
	</div>

 <script>
    $("#methods-test2").click(function(){
    $(this).button('dispose').removeAttr('data-toggle');
  });
  </script>

 
