

<%= form_for(resource, as: @user, url: session_path(@user)) do |f| %>
<%= devise_error_messages! %>

  <br><br><br>
  <h1>ログイン(一般)</h1>
  <br> <br />
  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  
   <br />

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>
  
   <br />

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
  <%= link_to "一覧画面へ", houses_path %>
<% end %>

