<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
  <br>
  <h1>新規登録(不動産業者)</h1>
  <br>
  <table class="table">
    <tr>
      <th>企業名<span class="text-danger"> (必須)</span></th>
      <td> <%= f.text_field :name, :size=>"150", autocomplete: "name"  %></td>
    </tr>
    <tr>
      <th>メールアドレス<span class="text-danger"> (必須)</span></th>
      <td> <%= f.email_field :email, :size=>"150", autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th>パスワード※最少6文字 <span class="text-danger"> (必須)</span></th>
      <td> <%= f.password_field :password, :size=>"150", autocomplete: "new-password"  %></td>
    </tr>
    <tr>
      <th>確認用パスワード <span class="text-danger"> (必須)</span></th>
      <td> <%= f.password_field :password_confirmation, :size=>"150", autocomplete: "new-password"  %></td>
    </tr>
  </table>
  <div class="actions">
    <%= f.submit "新規登録" %>
  </div>
  <%= link_to "一覧画面へ", houses_path %>
<% end %>

