<%= form_for(resource, as: @vendor, url: session_path(@vendor)) do |f| %>
  <%= devise_error_messages! %>
  <br>
  <h1>ログイン(不動産業者)</h1>
  <br> 
  <table class="table">
    <tr>
      <th>メールアドレス<span class="text-danger"> (必須)</span></th>
      <td> <%= f.email_field :email, :size=>"150", autofocus: true, autocomplete: "email" %></td>
    </tr>
    <tr>
      <th>パスワード<span class="text-danger"> (必須)</span></th>
      <td> <%= f.password_field :password, :size=>"150", autocomplete: "current-password" %></td>
    </tr>
   </table>
  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>
  <%= link_to "もどる", houses_path %>
<% end %>


