<!DOCTYPE html>
<html>
  <head>
    <title>Osumosan</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  </head>

  <body>
    <header>
      <div class="contain">
        <div class="header-left">
          <div class="logo">
            <span class="spellchild">お住もうさん</span>
            <p><%= image_tag('/979003.jpg', :size => "30x30") %></p>
          </div>
        </div>
        <div class="header-right clearfix">
          <% if user_signed_in? %>
            <div class="logout">
              <%= link_to "ログアウト", destroy_user_session_path, class: "btn btn-secondary", method: :delete %>
            </div>
            <div class="favorite">
              <%= link_to "お気に入り一覧", "/users/favorite/#{current_user.id}", class: "btn btn-secondary"%>
            </div>
            <div class="list">
              <%= link_to "物件一覧",houses_path, class: "btn btn-secondary"%>
            </div>
            <div class="mypage">
              <%= link_to "MYページ", user_path(current_user.id), class: "btn btn-secondary" %>
            </div>
            <div class="change">
              <%= link_to "プロフィール変更", edit_user_registration_path, class: "btn btn-secondary" %>
            </div>
            <div class="logined">
              <p>ログイン中</p>
            </div>
          <% elsif vendor_signed_in?%>
            <div class="logout">
              <%= link_to "ログアウト", destroy_vendor_session_path, class: "btn btn-secondary", method: :delete %>
            </div>
            <div class="list">
              <%= link_to "物件一覧",houses_path, class: "btn btn-secondary"%>
            </div>
            <div class="mypage">
              <%= link_to "MYページ", vendor_path(current_vendor.id), class: "btn btn-secondary" %>
            </div>
            <div class="new">
              <%= link_to "新規投稿", new_house_path, class: "btn btn-secondary" %>
            </div>
            <div class="change">
              <%= link_to "プロフィール変更", edit_vendor_registration_path, class: "btn btn-secondary" %>
            </div>
            <div class="logined">
              <p>ログイン中</p>
            </div>
          <%else%>
            <div class="login">
              <%= link_to "ログイン(不動産業者専用)", new_vendor_session_path, class: "btn btn-secondary" %>
            </div>
            <div class="login">
              <%= link_to "ログイン(一般)", new_user_session_path, class: "btn btn-secondary" %>
            </div>
            <div class="registration">
              <%= link_to "新規登録(不動産業者専用)",new_vendor_registration_path, class: "btn btn-secondary"%>
            </div>
            <div class="registration">
              <%= link_to "新規登録(一般)",new_user_registration_path, class: "btn btn-secondary"%>
            </div>
          <% end %>
      </div>
    </div>
    </header>
    <br><br><br>
    <p class="alert"><%= alert %></p>
    
    <%= yield %>
  </body>
</html>
